<div class="header-container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10">
      <div class="warning-alert d-flex align-items-center mx-auto" (click)="stopCurrentSound()">
        <span>i</span>
        <p>Atajo! Presionar tecla SHIFT para frenar audio</p>
      </div>
    </div>
  </div>
</div>

<app-stop-sound-button></app-stop-sound-button>

<div class="container">

  <app-section *ngFor="let section of this.sections"
               [section]="section"></app-section>

</div>
