<div class="header-container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10">
      <div class="warning-alert d-flex align-items-center mx-auto" (click)="stopCurrentSound()">
        <span>i</span>
        <p>Atajo! Presionar tecla SHIFT para frenar audio</p>
      </div>
    </div>
  </div>
</div>

<button (click)="stopCurrentSound()"
        type="button"
        class="stop-button d-flex justify-content-center"
        [class.stop-button-active]="isStopButtonActive"
>
  <span>STOP</span>
</button>

<div class="container">

  <app-section *ngFor="let section of this.sections"
               [section]="section"></app-section>

</div>
