/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text|Monoton|Press+Start+2P|Zilla+Slab+Highlight');

* {
  font-family: 'Press Start 2P', cursive;
}

@media (max-width: 575px) {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}
